/* HomeOverview CSS */
.home-overview {
    background-color: var(--clr-dark);
    color: var(--clr-light);    
}

.container--home-overview {
    padding: 2em;
}

.container__res-list {
    max-width: 100%;
    margin-bottom: 1em;
}

ul.res-list {
    list-style: none;
    padding-left: 0;
}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 0;
}

.list__item > .item {
    font-size: 0.8em;
    margin: 0.5em 1em;
}

.list__item > .item-container {
    /* display: flex;
    flex-direction: row; */
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.item-part {
    margin: auto 0;
}

.highlight-green {
    color: green;
}

.highlight-red {
    color: red;
}

.highlight-neutral {
    color: var(--clr-yellow)
}

.list__item {
    margin: 0.25em 0;
    /* border: 1px solid blue; */
}

.list__item:hover {
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

.item__title {
    display: none;
}

.container__res-stats {
    display: flex;    
    justify-content: space-evenly;
}

@media (min-width: 900px) {
    .section__container.container--home-overview {
        width: 100%;
        max-width: 1320px;
        margin: 0 auto;
    }

    .home-overview__container {
        display: flex;
    }

    .container__res-list {
        width: 50%
    }

    .item.item-container {
        display: none;
    }

    .item.item__title {
        display: block;
    }

    /* .list__item > .item {
        
    } */
}

.container__res-stats {
    display: flex;
    width: 100%;
}

.res-stats {
    width: 49%;
    border: 2px solid yellow;
}

@media (max-width: 700px) {

    .container--home-overview {
        padding: 1em;
    }

    .container__res-stats {
        flex-direction: column;
    }
    
    .res-stats {
        margin-bottom: 1em;
        width: 100%;
    }

    .stats__two { margin-bottom: 0;}

    .list__item > .item-container {
        width: 40%;
    }
}

@media (max-width: 450px) {
    .list__item > .item-container {
        display: none;
    }

    .item__title {
        display: inline;
    }
}

/* HomeStats */
.home-stats__nav {
    background-color: #F7F9F9;
    text-align: center;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

button {
    border: none;
    cursor: pointer;
    padding: 0.75em 2.1em;
    background-color: inherit;
}

button.item__tab {
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
}

.activate,
button.item__tab:hover {
    background-color: #ddd;
    font-size: 0.9em;   
}

.home-stats__stats {
    padding: 2em;  
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.stats__charts {
    margin-top: 0;
}

.stats__charts {
    border: 2px solid red;
    width: 100%;
    margin-top: 1em;
}

.btn__stats {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.stats__table {    
    /* border: 1px solid red; */
    width: 100%;
}

.stats__table table {
    width: 100%;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: var(--clr-dark);
    /* border: 0.5px solid yellow; */
    font-size: var(--fs-small); 
    color: #ddd;
}

table thead th {
    padding: 0.5em 0;
}

table thead th,
table tbody td {
    padding: 0.2em;
    text-align: center;
}

table tr:hover {
    background-color: var(--clr-dark);
    color: yellow;
    /* font-size: ; */
}



@media (max-width:600px) {
        
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        padding: 0.35em;
        margin-bottom: .625em;
    }

    table tbody td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1.1em;
        text-align: right;
    }

    table tbody td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(title);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table tbody tr {
        border-radius: 5px;
    }

    table tbody td:last-child {
        border-bottom: 0;
    }
}

@media (min-width: 900px) {
    .activate,
    button.item__tab:hover {
        background-color: #ddd;
        font-size: 0.8em;   
    }
}

@media (min-width: 1100px) {
    .home-stats__stats {
        flex-direction: row;
        max-width: 1320px;
        width: 100%;
        margin: 0 auto; 
        justify-content: space-between;
        align-items: flex-start;
    }

    .stats__charts {
        width: 39.5%;
        margin-top: 0;
    }

    .stats__table {
        width: 59.5%;
        /* margin-top: 0; */
    }
}

/* HomeStatsRefNote 
    Ref(1): For table responsive creation, please visit more: https://codepen.io/AllThingsSmitty/pen/MyqmdM 
*/

/* HomeSchedule */
.home-schedule {
    display: flex;
    justify-content: center;
    background-color: var(--clr-charcoal);
    color: var(--clr-light);
    padding: 2em 0;
}

.home-schedule__card {
    width: 350px;
    padding: 0.75em;
    text-align: center;
    border: 2px solid var(--clr-light);
    border-radius: 5px;
}

.title__country-flag {
    margin-bottom: 0.25em;
}

.title__country-name {
    font-size: var(--fs-h4);
}

.card__gp-title {
    padding: 1em;
}

.card__gp-title {
    font-family: var(--ff-secondary);
    padding: 0.7em;
}


.gp-title__date {
    font-size: 0.75em;
    font-weight: var(--fw-bold);
    margin-top: 0;
    margin-bottom: 0;
}

.card__time {
    font-size: var(--fs-h3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.7em;
    /* padding-top: 0; */
}

.card__btn {
    padding: 0.5em 0.75em;
    border: none;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    margin-right: 0;
}

.home-schedule__card .card__action-btn {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    /* flex-direction: column; */
}

.home-schedule__card .card__action-btn button {
    font-family: var(--ff-primary);
    color: var(--clr-light);
    border: 1px solid var(--clr-light);
    border-radius: .25em;

}   

button#action-btn__next,
button#action-btn__prev {
    padding: 0.5em 1.5em;
    /* font-size: var(--fs-small); */
    font-weight: bold;
}

button#action-btn__next:hover,
button#action-btn__prev:hover {
    background-color: var(--clr-yellow);
    border: none;
}

.time__local-time {
    display: none;
}

.time__user-time {
    display: none;
}

.calender__list  {
    margin: 0 auto;
    padding: 0.7em;
    /* padding-left: 0; */
    /* margin-bottom: 0; */
    /* display: block; */
}

.item__time,
.item__day {
    font-size: 0.85rem;
}

.card__calender {
    /* margin-top: 1em; */  
}

.schedule__item {
    display: flex;
    justify-content: space-around;
    margin: 0.5em 0;
    border: 2px solid #ccc;
    border-radius: 3px;
}

.schedule__item p {
    /* font-size: var(--fs-small); */
    font-size: 0.7em;
    margin: 0.2em;
}

p.time {
    font-size: 0.6em;
    
}

@media only screen and (min-width: 600px) {
    .home-schedule__card {   
        width: max-content;
        padding: 1em;
    }

    p.gp-title__date {
        font-size: var(--fs-small);
    }
}

@media (min-width: 900px) {
    
    .calender__list {
        display: grid;
        grid-template-rows: repeat(3, 2em);
        gap: 5px;
        grid-auto-flow: column;
        /* justify-items: start; */
    }

    .time__local-time {
        display: block;
        font-size: var(--fs-small);
    }
    
    .time__user-time {
        display: block;
        font-size: var(--fs-small);
        font-weight: var(--fw-bold);
    }

    .card__time {
        justify-content: space-around;
    }

    .schedule__item {
        /* height: max-content; */
        align-items: center;
    }

}

/* HomeNews */

.home-news__container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 2em;
}

.home-news__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:10px;
}

.home-news__title {
    border-bottom: 5px solid var(--clr-dark);
}

.list__item-news {
    display: flex;
    flex-direction: column;
}

.item__link {
    background-color: var(--clr-light);
    overflow: hidden;
    height: 80%;
}

img.item__img {
    width: 100%;
}

.item__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.item__img:hover {
    transform: scale(1.2);
    opacity: .5;
}